<div class="jumbotron jumbotron-fluid mt-4 mb-4">
  <div class="container">
    <h1 class="display-4">Global Solution</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <div class="d-flex justify-content-around">
      <button type="button" class="btn btn-dark" routerLink="consulta">Consultar Veiculos</button>
      <button type="button" class="btn btn-dark" routerLink="cadastro">Cadastrar Veiculos</button>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>